@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");



.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.banner .container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner .container #scene {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container #scene #text {
  display: flex !important;
  position: relative;
  color: orange;
  font-size: 14vw;
  z-index: 100;
}

.banner .container #scene #text span {
  position: relative !important;
  display: inline-block;
  text-shadow: 1px 1px 0 #e1e1e1, 2px 2px 0 #e1e1e1, 3px 3px 0 #e1e1e1, 4px 4px 0 #e1e1e1, 5px 5px 0 #e1e1e1, 6px 6px 0 #e1e1e1, 7px 7px 0 #e1e1e1, 8px 8px 0 #e1e1e1, 25px 35px 0px rgba(0, 0, 0, 0.1);
}

.banner .container #scene .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner .container #scene .layer:nth-child(5) {
  z-index: 1;
}

.banner .container #scene .layer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner .container #scene .layer.z {
  z-index: 101;
}
.full-width {
  width: 100vw;
  position: relative;
  overflow: hidden;
}